
        body{
            background-color:rgb(238, 202, 112);
            font: normal 15pt Arial;
            color: white;
        }
        header{
            text-align: center;
        }
        section {
            background-color: white;
            padding: 15px;
            width: 500px;
            height: 300px;
            border-radius: 10px;
            text-align: center;
            margin: auto;
            color: black;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.274);
        }
        footer{
            text-align: center;
            font-style: italic;
        }
